header {
    font-family: "UDEV Gothic NF";
    margin: 10px 100px;
    padding: 10px;
    text-align: center;
}

body {
    font-family: "UDEV Gothic NF";
    margin: 10px 100px;
    padding: 10px;
    border: 5px double #606060;
    text-align: left;
}

footer {
    font-family: "UDEV Gothic NF";
    margin: 10px 100px;
    padding: 10px;
    text-align: center;
}

ul {
    list-style: none;
}

main > ul {
    list-style: disc;
}
